{% extends 'base.html' %}

{% block title %}Edit Review{% endblock %}
{% block content %}

<div class="row justify-content-md-center">
    <div class="col-md-6 transparent">
      <h2 class="join-message form-heading text-center">Edit Your Review for <b>{{drink}}</b></h2>
      <form method="POST" id="user_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' and field.name != 'password' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field.label }}
          {{ field(class="form-control") }}
        {% endfor %}
        <br>
        <div>
          <button class="btn btn-success">Save Edits</button>
          <a href="/" class="btn btn-secondary">Cancel</a>
        </div>
      </form>
      <br>
    </div>
  </div>
{% endblock %}