{% extends 'base.html' %}

{% block title %}Random{% endblock %}

{% block content %}



<h1>Start Your Search</h1>
<form class="d-flex" action="/search" method="POST">
    
    <input class="form-control me-2" type="search" placeholder="Search for a cocktail " aria-label="Search" name="search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>

<br>
{% for drink in drink_list %}
<h1>Your random drink is <i>{{drink["strDrink"]}}</i></h1>
<div class="card" style="width: 22rem;">
    <img class="card-img-top" src="{{drink["strDrinkThumb"]}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{drink["strDrink"]}}</h5>
      <h6 class="card-text">Ingredients:</h6>
      <ul class="card-text"> 
          {% for ingredient in drink["ingredient_list"]%}
            <li class="ingredients">{{ingredient}}</li>
          {% endfor %}
        </ul>
      <h6 class="card-text">Instructions:</h6>
      <p class="card-text">{{drink["strInstructions"]}}</p>
      <button class="btn btn-secondary recipe">View Recipe</button>
    
      <form action="/save" method="post">
        <input hidden type="text" name="name" value="{{drink["strDrink"]}}">
        <input hidden type="text" name="ingredients" value="{{drink["ingredient_list"]}}"> 
        <input hidden type="text" name="instructions" value="{{drink["strInstructions"]}}">
        <input hidden type="text" name="image" value="{{drink["strDrinkThumb"]}}">  
        <button class="btn btn-light"><i class="far fa-bookmark"></i></button>
      </form>
      
    </div>
</div>
<br>
{% endfor %}

{% if not g.user %}
<h2>New to *app_name*? Sign up below!</h2>
<form action="/register">
    <div class="edit-btn-area">
        <button class="btn btn-success btn-lg">Sign Up</button>
    </div>
</form>
{% endif %}
{% endblock %}