{% extends 'base.html' %}

{% block title %}Saved Recipes{% endblock %}
{% block content %}
<h1 class="text-center">My Saved Recipes</h1>
{% if not user_drinks %}
<p class="text-center">You do not currently have any saved recipes</p>
{% endif %}
<div class="row justify-content-md-center">
{% for saved_drink in user_drinks %}
<div class="card" style="width: 22rem;">
    <img class="card-img-top" src="{{saved_drink.drink.image}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{saved_drink.drink.name}}</h5>
      <h6 class="card-text">Ingredients:</h6>
      <ul class="card-text"> 
        {% set list= saved_drink.drink.ingredients.replace('[', '').replace(']', '').replace("'",'').split(',') %}
        {% for ingredient in list %}
        <li class="ingredients">{{ingredient}}</li>
        {% endfor %} 
      </ul>
      <h6 class="card-text">Instructions:</h6>
      <p  class="card-text">{{saved_drink.drink.instructions}}</p>
      <div class="outer">
        <div class="inner">
            <button class="btn btn-secondary recipe">View Recipe</button> 
        </div>
        <div class="inner">
            <a href="/reviews/{{saved_drink.id}}" class="btn btn-primary">Write a review <i class="fas fa-pen-square"></i></a> 
        </div>
        <div class="inner">
            <form action="/delete/{{saved_drink.drink.id}}" method="POST">
                <button class="btn btn-danger"><i class="fas fa-trash-alt"></i> </button>
            </form>
        </div>
      </div>
      
      
      
    </div>
</div>
<br>

{% endfor %}
</div>

{% endblock %}

ingredients_lists