{% extends 'base.html' %}

{% block title %}Register Page{% endblock %}
{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-6 transparent">
      <h2 class="join-message text-center form-heading">Register Your Account</h2>
      <form method="POST" id="user_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field.label }}
          {{ field(class="form-control") }}
        {% endfor %}
        <br>
        <div class="btn-area">
          <button class="btn btn-primary">Create My Account</button>
        </div>
      </form>
      <br>
    </div>
  </div>

  {% endblock %}