{% extends 'base.html' %}

{% block title %}User Profile{% endblock %}
{% block content %}

<div id="warbler-hero" class="full-width">
    <img src="{{user.banner_img}}" alt="Header image for {{ user.username }}" id="background-image">
  </div>
  <img class="text-center" src="{{ user.profile_img }}" alt="Image for {{ user.username }}" id="profile-avatar">
  <div class="row full-width">
    <div class="container">
      <div id="user-stats" class="row justify-content-center">
        
        <div class="col-9">
          <div class="text-center">
            @{{user.username}}
          </div>
          <ul class="user-stats nav nav-pills">
            

            <li class="stat">
              <p class="small"><b>Reviews</b></p>
              <h4 class="text-center">
                <a href="/users/{{ user.id }}">{{ user.reviews | length }}</a>
              </h4>
            </li>
            <br>
            <li class="stat">
              <p class="small"><b> Following </b></p>
              <h4 class="text-center">
                <a href="/users/{{ user.id }}/following">{{ user.following | length }}</a>
              </h4>
            </li>
            <br>
            <li class="stat">
              <p class="small" ><b>Followers</b></p>
              <h4 class="text-center">
                <a href="/users/{{ user.id }}/followers">{{ user.followers | length }}</a>
              </h4>
            </li>
            
            <div class="ml-auto">
              {% if g.user.id == user.id %}
              <div class="outer">
                  <div class="inner">
                    <li class="stat">
                      <p class="small"><b>My Saved Recipes</b></p>
                      <h4><a href="/users/{{user.id}}/saved">{{user.saved_recipes | length}}</a></h4>
                    </li>
                  </div>
                  <div class="inner">
                    <a href="/users/edit" class="btn btn-secondary">Edit Profile</a>  
                  </div>
                  <div class="inner">
                    <form method="POST" action="/users/delete" class="form-inline ">
                      <button class="btn btn-danger ml-2">Delete Profile</button>
                    </form>
                  </div>
              </div>
              {% elif g.user %}
              {% if g.user.is_following(user) %}
              <form method="POST" action="/users/stop-following/{{ user.id }}">
                <button class="btn btn-primary">Unfollow</button>
              </form>
              {% else %}
              <form method="POST" action="/users/follow/{{ user.id }}">
                <button class="btn btn-outline-primary">Follow</button>
              </form>
              {% endif %}
              {% endif %}
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-3 bio">
      {% if user.bio %}
      <h6 class="text-center">Bio</h6>
      <p class="text-center">{{ user.bio }}</p>
      {% endif %}
    </div>
  </div>


  <div class="row justify-content-md-center">
    <div class="d-flex col-lg-6 col-md-8 col-sm-12">
        <ul class="list-inline list-group justify-content-center" id="messages">
          {% for review in reviews %}
            <li class="list-group-item list-inline-item">
                <div class="card">
                    <img class="card-img-top" src="{{review.image}}" alt="Card image cap">
                    <div class="card-body">
                            
                      <h5 class="card-title"><a href="/users/{{review.user.id}}"><img src="{{ review.user.profile_img }}" alt="user image" class="timeline-image">@{{review.user.username}}</a>'s review of {{review.drink.name}}</h5>
                      <div class="outer">
                        <div class="inner">
                            <span class="text-muted"><b>Posted on</b> {{ review.timestamp.strftime('%d %B %Y') }}</span>  
                        </div>
                        {% if g.user.id == review.user.id %}
                        <div class="inner">
                            <div class="dropdown">
                                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                  <i class="fas fa-ellipsis-h"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                  <li><form action="/users/delete/{{review.id}}" method="POST">
                                    <button class="dropdown-item">Delete Review</button>
                                    </form></li>
                                  <li><form action="/users/edit/{{review.id}}" method="POST">
                                    <button class="dropdown-item">Edit Review</button>
                                </form></li>
                                </ul>
                              </div>
                        </div>
                        {% endif %}
                        
                      </div>
                
                    <div class="review-area">
                        <hr>
                        <div class="d-flex justify-content-center">
                            <p><b>Rating: </b> </p>
                            <p> {{ review.rating }}/5.00</p>
                        </div>
                        {% if review.review %}
                        <hr>
                        <div class="d-flex justify-content-center">
                            <p><b>Review: </b> </p>
                            <p> {{ review.review }}</p>
                        </div>
                        <hr>
                        {% endif %}
                    </div>
                    <div class="outer">
                        <div class="inner">
                            <form method="POST" action="/users/add_like/{{review.id}}">
                                <button class="btn btn-lg 
                                    {% if review.id in likes %}
                                    btn-primary
                                    {% else %}
                                    btn-secondary
                                    {% endif %}
                                ">Cheers
                                    <i class="fas fa-glass-cheers fa-lg"></i> 
                                </button>
                            </form>
                        </div>
                        <div class="inner">
                            <button class="btn btn-lg btn-success comment">Comment
                                <i class="far fa-comment"></i>
                            </button>
                        </div>
                      </div>
                      {% if review.likes %}
                      <br>
                      {% if review.likes|length == 1 %}
                      <div class="outer">
                        <div class="inner">
                            <p><a href="#">{{review.likes|length}}</a> user cheers'd this review</p>
                        </div>
                      </div>
                      {% else %}
                      <div class="outer">
                        <div class="inner">
                            <p><a href="#">{{review.likes|length}}</a> users cheers'd this review </p>
                          </div>
                      </div>
                      {% endif %}
                      {% endif %}

                      <form class="comment-form" method="POST" action="/users/comment/{{review.id}}">
                        
                        {{ form.hidden_tag() }}
    
                        {% for field in form if field.widget.input_type != 'hidden' %}
                          {% for error in field.errors %}
                            <span class="text-danger">{{ error }}</span>
                          {% endfor %}
                          {{ field.label }}
                          {{ field(class="form-control") }}
                        {% endfor %}
                        <br>
                        <div class="btn-area">
                          <button class="btn btn-primary">Post Comment</button>
                        </div>
                    </form>  
                   
                    {% for comment in comments %}
                        {% if review.id == comment.reviews_id %}
                        <hr>
                        <div class="d-flex p-2 bd-highlight bg-light align-items-center">
                            {% if g.user.id == comment.user.id %}
                            <div class="text-right">
                                <form action="/users/{{comment.id}}/delete" method="POST">
                                    <button class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i></button>
                                </form>  
                            </div>
                            {% endif %}
                            <div class="d flex justify-content-center">
                                <p><a href="/users/{{comment.user.id}}"> <img src="{{ comment.user.profile_img }}" alt="user image" class="timeline-image">@{{comment.user.username}}</a>: {{comment.text}}</p>
                            </div> 
                        </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </li>
            <br>
          {% endfor %}
        </ul>
      </div>
</div>
{% endblock %}